{% extends "base.html" %}
{% block title %}{{ page.title }} | {{ site.organisation_name }}{% endblock %}
{% block meta_description %}{{ page.intro|striptags|truncatewords:28 }}{% endblock %}

{% block content %}
  {% include "partials/page_hero.html" with hero_title=page.title hero_eyebrow=page.section hero_text=page.intro hero_image=page.hero_image_url crumbs=page.section %}

  <section class="section">
    <div class="container">
      <div class="prose">
        {{ page.body|safe }}
      </div>
    </div>
  </section>

  {% if page.show_newsletter %}{% include "partials/newsletter.html" %}{% endif %}
{% endblock %}
