{% extends "base.html" %}
{% block title %}{{ hero.title }} | {{ site.organisation_name }}{% endblock %}
{% block meta_description %}{% firstof hero.page.meta_description hero.text %}{% endblock %}

{% block content %}
  {% include "partials/page_hero.html" with hero_title=hero.title hero_eyebrow=hero.eyebrow hero_text=hero.text hero_image=hero.image crumbs=hero.crumbs %}
  {% include "partials/section_body.html" %}

  <section class="section">
    <div class="container">
      <ul class="resource-list">
        {% for resource in resources %}
          <li class="resource-item">
            <div class="post-meta">{{ resource.resource_type }} &middot; {{ resource.published|date:"F Y" }}</div>
            <h3>{{ resource.title }}</h3>
            {% if resource.description %}<p>{{ resource.description }}</p>{% endif %}
            <a class="link-arrow" href="{{ resource.link }}">Open Resource</a>
          </li>
        {% empty %}
          <p>Resources will be published here soon.</p>
        {% endfor %}
      </ul>
    </div>
  </section>

  {% include "partials/newsletter.html" %}
{% endblock %}
