{% extends "base.html" %}
{% block title %}{{ hero.title }} | {{ site.organisation_name }}{% endblock %}
{% block meta_description %}{% firstof hero.page.meta_description hero.text %}{% endblock %}

{% block content %}
  {% include "partials/page_hero.html" with hero_title=hero.title hero_eyebrow=hero.eyebrow hero_text=hero.text hero_image=hero.image crumbs=hero.crumbs %}
  {% include "partials/section_body.html" %}

  <section class="section">
    <div class="container">
      <div class="location-grid">
        {% for location in locations %}
          <a class="location-card" href="{{ location.get_absolute_url }}">
            <div class="location-card__bg" {% if location.image %}style="background-image:url('{{ location.image.url }}');"{% endif %}></div>
            <div class="location-card__body">
              <h3>{{ location.name }}</h3>
              <p>{{ location.summary|truncatewords:18 }}</p>
              <span class="link-arrow">Explore</span>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </section>

  {% include "partials/newsletter.html" %}
{% endblock %}
